.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
}
.shareWrapper{
    padding: 20px;
}
.shareTop{
    display: flex;
    align-items: center;
}
.shareProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.shareInput{
    width: 80%;
    border: none;
}
.shareInput:focus{
    outline: none;
}
.shareHr{
    margin: 10px;
}
.shareBottom
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shareOptions{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.shareOption{
    display: flex;
    align-items: center;
}
.shareIcon{
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
}
.shareOptionText{
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.shareButton{
    border: none;
    border-radius: 5px;
    padding: 7px;
    background: green;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}
